.svg {
  width: 100%;
  height: 100%;
  background-color: rgb(153, 138, 124);
  transform: translateZ(0);
  user-select: none;
}

.top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.move-actions button {
  text-align: left;
}

input {
  width: 10em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  font-size: 100%;
  min-width: 7em;
  outline: none;
  padding: .25em;
}
button {
  width: 100%;
  display: block;
  min-width: 7em;
  margin-bottom: .5em;
  font-size: 100%;
  appearance: unset;
  border: 1px solid #888;
  border-radius: .25rem;
  padding: .25em .25em;
  cursor: pointer;
}
button:active {
  background-color: #aaa;
}

.hotkeys-instruction {
  margin: 1em 0;
}

pre {
  color: #222;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
  white-space: pre-wrap;
}

.bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.bottom-right pre {
  color: #fff;
}
